# Environment
NODE_ENV=development
PORT=3000


# OAuth Server Credentials
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

# Security
JWT_SECRET_KEY=
AUTHORIZATION_CODE=

# Database
DATABASE_URL=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_DATABASE_PASSWORD=

# DocuSign
DOCUSIGN_URL_BASE=apps-d.docusign.com  # Use apps.docusign.com for production 

#VAPI
VAPI_API_KEY=your_key
VAPI_PHONE_NUMBER=your_number
VAPI_ASSISTANT_ID=your_assistant_id  # Get this from Vapi dashboard